.image-cropper {
    display: flex;
    align-items: flex-start;

    &_selector {
        flex: 1;
        min-width: 500px;
    }

    &_preview {
        padding: 5px;
        margin-left: 20px;
        height: auto;
        width: 200px;

        .btn, img {
            width: 100%;
        }
    }
}
